input {
{% for input in item.input %}

# {{ input.name }} connector
  redis {
    host => "localhost"
    data_type => "list"
    key => "{{ input.key }}"
  }
{% endfor %}

}

output {
{% for output in item.output %}

# {{ output.name }} connector
{% if output.condition is defined %}
if {{ output.condition }} {
{% endif %}
  redis {
    host => "localhost"
    data_type => "list"
    key => "{{ output.key }}"
  }
{% if output.condition is defined %}
  }
{% endif %}
{% endfor %}

}
